*.o
ET
test
uq
periodic
data
ET-Cell/sample
ET-Cell/sample_periodic
ET-Cell/Figures
ET-Cell/histogram
ET-Cell/clean_data
Presentation/Figures
Presentation/OLD_Figures
*.dat
.imdone/
Presentation/Presentation.aux
Presentation/Presentation.bbl
Presentation/Presentation.bcf
Presentation/Presentation.blg
Presentation/Presentation.log
Presentation/Presentation.nav
Presentation/Presentation.out
Presentation/Presentation.pdf
Presentation/Presentation.run.xml
Presentation/Presentation.snm
Presentation/Presentation.toc
